# Public Client Environment Variables
NEXT_PUBLIC_SERVER_URL=http://localhost:5000
NEXT_PUBLIC_CLIENT_URL=http://localhost:3000

# Server-Only Environment Variables (Accessed by Next.js Server Components / Route Handlers)
MONGODB_URI=mongodb://localhost:27017/pedago_certificate_db
BETTER_AUTH_SECRET=your-better-auth-secret-key-32-chars-min
BETTER_AUTH_URL=http://localhost:3000



IMGBB_API_KEY=8d8681f7efba818251ffb798dc2e6aaa
IMGBB_UPLOAD_URL=https://api.imgbb.com/1/upload




